
 /*Sticky navigation bar  */

.sticky {
    position: fixed;
    top: 0;
    z-index: 10;
    width:100%;
    transition: all 1s ease-in-out;
  }
  
/* Upcoming Events */

.blog-home5 {
    font-family: "Montserrat", sans-serif;
      color: #8d97ad;
    font-weight: 300;
    
  }
  
  .blog-home5 h1, .blog-home5 h2, .blog-home5 h3, .blog-home5 h4, .blog-home5 h5, .blog-home5 h6 {
    color: #3e4555;
  }
  
  .blog-home5 .card-title {
      font-size: 16px;
  }
  
  .blog-home5 .subtitle {
      color: #8d97ad;
      line-height: 24px;
  }
  
  .blog-home5 .card.card-shadow {
      -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
      box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  }
  
  .blog-home5 .b-h-box .card-img-overlay {
    bottom: 0px;
    top: auto;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    height: 55%;
  }
  
  .blog-home5 .b-h-box .card-title {
      color: #ffffff;
  }
  
  .blog-home5 .b-h-box {
      color: #ffffff;
  }
  
  .blog-home5 .b-h-box .card-text {
    display: none;
  }
  
  .blog-home5 .b-h-box:hover {
    color: #8d97ad;
  }
  .card-img
  {
      height: 500px;
  }
  .blog-home5 .b-h-box:hover .card-img-overlay {
    height: 100%;
    background-color: rgb(0,102,161,0.3);
    border: 3px solid rgba(120, 130, 140, 0.13);
  }
  
  .blog-home5 .b-h-box:hover .card-title {
    color: #263238;
    margin: 15px 0;
  }
  
  .blog-home5 .b-h-box:hover .card-text {
    display: block;
  }
  
  .blog-home5 .bg-danger-gradiant {
      background: #ff4d7e;
      background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
      background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
      background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
      background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
      background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
      transition: all 0.5s ease-in-out;
  }

  .blog-home5 .font-14 {
      font-size: 14px;
  }
  
  @media (max-width:768px) {
      .blog-home5 .b-h-box .card-img-overlay {
          height: 40%;
      }
  }

  .sspan
  {
      color:#0066a1
  }
  .card-text
  {
      color:#263238;
  }
  .top-pad
  {
      padding-top: 100px;
  }


  /* mobile devices */
  @media only screen and (max-width: 768px) 
  {
     
  }
	

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/cs/preloader.gif') 50% 50% no-repeat rgb(17, 16, 16);
}



/* Launching Page */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

.hero {
	height: 80vh;
	background: linear-gradient(45deg, rgba(255,175,189,.7), rgba(100,216,243,.7), rgba(234,236,198,.7), rgba(245,146,176,.7), rgba(52,219,216,.7)) 0 0 / 1000% no-repeat, url('../img/cs/head.jpg') 0 0 / cover no-repeat;
	-webkit-animation: gradientAnimation 40s ease infinite;
	animation: gradientAnimation 40s ease infinite;
    
}
@-webkit-keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}
@keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}
.hero p {
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #333;
    /* text-shadow: 2px 2px  rgb(0,102,161); */
	font : normal 600 60px/1 'Open Sans', sans-serif;
	text-align: center;
	white-space: nowrap;
    z-index: 3;
    text-shadow:
    /* White glow */
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    /* Green glow */
    0 0 42px rgb(10, 141, 228),
    0 0 82px rgb(10, 141, 228),
    0 0 92px rgb(10, 141, 228),
    0 0 102px rgb(10, 141, 228),
    0 0 151px rgb(10, 141, 228);


}
.hero p span {
	display: block;
	margin-top: 1em;
	font-size: 30px;
	font-weight: 300;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 15s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}